body{
	padding-top: 50px;
	font-family: 'Ubuntu', sans-serif;
}

.content:before {
	content: "";
	position: fixed;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	display: block;
	background-image: url("background.jpg");
	background-size:cover;
	width: 100%;
	height: 100%;
}

.content {
	overflow: auto;
	overflow-y:hidden;
	position: relative;
}
.navbar{
	font-size: 15px;
	border-top:5px;
}

 #drop {
    right: auto;
    left: 0;
 }

.blog {
	border : 20px solid #bdc3c7;
	padding: 20px;
	max-width: 700px;
	width: 80%;
	margin:20px auto;
	font-size: 2.0rem;
}

.date {
	color: #3489db;
  	text-transform: uppercase;
  	letter-spacing: : 0.2rem
}

hr {
	background-color: #eee;
	border: 0 none;
	color: #eee;
	height: 5px;
}

#biopic{
	height: 300px;
	width: 300px;
	float: left;
	margin: 0 25px 25px 25px;
}

.row {
	display: inline;
}

.bio {
	font-size: 2.0rem;
}
.bio>h1{
	text-align: center;
}

.container {
	max-width: 1000px;
	width: 80%;
}

.carousel-inner > .item > img {
    margin: 50 auto;
    max-height: 540px;
    max-width: 810px;
}

.social-icon {
  list-style: none;
  padding: 5px;
  margin: 0;
}

.social-icon li{
  display: inline-block;
  text-align: center;
}

.social-icon a {
  display: block;
  width: 33px;
  height: 33px;
  line-height: 33px;
  border-radius: 50%;
  margin-right: 5px;
}

.social-icon a {
  background: rgba(255, 255, 255,	 0.85); /* social icon background color */
  color: #000; /* social icon color */
}

.social-icon a:hover {
  background: rgba(255, 255, 255, 0.25); /* social icon hover background color */
  color: #fff; /* social icon hover color */
}


#footer{
    position:fixed;
    height:50px;
    background-color:#333;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}

#footer_text{
	position: absolute;
	float: left;
	color: white;

}
#homeH1{
	text-align: center;
}